<ul class="nav-items" th:fragment="menuBar" xmlns:th="http://www.thymeleaf.org">
  <th:block th:each="item : ${menuBar.items}" th:if="${item.enabled}">
    <!-- MenuItem: expandable with children -->
    <li class="nav-item has-dropdown" th:if="${item.class.simpleName == 'MenuItem'}">
      <a th:href="${item.href}" th:text="${item.label}">Label</a>
      <ul class="dropdown">
        <th:block th:each="child : ${item.children}" th:if="${child.enabled}">
          <li class="dropdown-divider" role="separator" th:if="${child.class.simpleName == 'MenuDivider'}"></li>
          <li th:unless="${child.class.simpleName == 'MenuDivider'}">
            <a th:href="${child.href}" th:text="${child.label}">Child</a>
          </li>
        </th:block>
      </ul>
    </li>
    <!-- SimpleMenuItem: leaf link -->
    <li class="nav-item" th:if="${item.class.simpleName == 'SimpleMenuItem'}">
      <a th:href="${item.href}" th:text="${item.label}">Label</a>
    </li>
    <!-- MenuDivider: vertical separator in the nav bar -->
    <li class="nav-divider" role="separator" th:if="${item.class.simpleName == 'MenuDivider'}"></li>
  </th:block>
</ul>
